body {
    background-color: #f0b017;
}
section {
    width: 30%; height: 400px;
    display: inline-block;
    text-align: center;
    padding-top: 5%;
}
#picture {
    margin-bottom: 100px;
    width: 170px;
    height: 250px;
}
#balloon {
    text-align: center;
    
}
img {
    width: 100px;
    height: 100px;
}
.boat {
    width: 100%;
}
h1 { 
    font-family: 'Snippet' , cursive;
    font-size: 2em;
    text-align: center;
    color: #5897bd
}